<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sibo.project.yl.article.dao.ArticleDao">

    <resultMap type="ArticleEntity" id="ArticleResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="htmlContext" column="html_context"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="tag" column="tag"/>
        <result property="addUserId" column="add_user_id"/>
        <result property="updateUserId" column="update_user_id"/>
        <result property="typeKey" column="type_key"/>
    </resultMap>

    <select id="selectPageVo" resultType="com.sibo.project.yl.article.entity.ArticleEntity">
        SELECT `a`.`id`,
        `a`.`title`,
        `a`.`summary`,
        `a`.`html_context`,
        `a`.`create_time`,
        `a`.`update_time`,
        `a`.`tag`,
        `a`.`add_user_id`,
        `a`.`update_user_id`,
        `a`.`type_key`,
        u.login_name,
        u.user_name,
        u.email
        FROM `tb_article` a
        left join sys_user u on a.add_user_id=u.user_id

        <if test="type_key != null and type_key != ''">
            WHERE type_key=#{type_key}
        </if>

    </select>

    <select id="selectPageVoWhere" resultType="com.sibo.project.yl.article.entity.ArticleEntity">
        SELECT `a`.`id`,
        `a`.`title`,
        `a`.`summary`,
        `a`.`html_context`,
        `a`.`create_time`,
        `a`.`update_time`,
        `a`.`tag`,
        `a`.`add_user_id`,
        `a`.`update_user_id`,
        `a`.`type_key`,
        u.login_name,
        u.user_name,
        u.email
        FROM `tb_article` a
        left join sys_user u on a.add_user_id=u.user_id
        WHERE 1=1
        <if test="type_key != null and type_key != ''">
            AND type_key=#{type_key}
        </if>
        <if test="searchValue != null and searchValue != ''">
            AND (
            a.title like concat('%', #{searchValue}, '%')

            OR a.summary like concat('%', #{searchValue}, '%')

            OR a.html_context like concat('%', #{searchValue}, '%')

            OR a.tag like concat('%', #{searchValue}, '%')

            OR u.login_name like concat('%', #{searchValue}, '%')
            )
        </if>

    </select>

</mapper>