<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.iot.iotModelParameters.dao.IotModelParametersDao">
    
    <resultMap type="IotModelParametersEntity" id="IotModelParametersResult">
        <result property="id" column="id"/>
        <result property="modelId" column="model_id"/>
        <result property="parameterName" column="parameter_name"/>
        <result property="parameterShowname" column="parameter_showname"/>
        <result property="parameterType" column="parameter_type"/>
        <result property="parameterDefault" column="parameter_default"/>
        <result property="parameterUnit" column="parameter_unit"/>
        <result property="parameterDescription" column="parameter_description"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>
    
</mapper>