<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.iot.iotModels.dao.IotModelsDao">
    
    <resultMap type="IotModelsEntity" id="IotModelsResult">
        <result property="id" column="id"/>
        <result property="modelName" column="model_name"/>
        <result property="modelDescription" column="model_description"/>
        <result property="protocolId" column="protocol_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="modelId" column="model_id"/>
        <result property="gateWay" column="gate_way"/>
        <result property="token" column="token"/>
    </resultMap>
    
</mapper>