<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include_moltran :: header('登陆日志')" />
</head>

<body class="fixed-left">
<div id="wrapper">
	<div th:include="include_moltran :: topbar"></div>
	<div th:include="include_moltran :: leftsidebar"></div>
	<div class="content-page">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h4 class="pull-left page-title"></h4>
						<ol class="breadcrumb pull-right">
							<li><a href="/">管理中心</a></li>
							<li class="active">登陆日志</li>
						</ol>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">

						<!--start内容start-->

						<div class="wrapper wrapper-content ui-layout-center">

							<!-- ============================================================== -->

							<div class="container-div">
								<!-- panel-搜索栏 -->
								<div class="col-sm-12 search-collapse panel panel-success">
									<div class="panel-body">

										<form id="formId" class="form-inline" role="form">
											<div class="form-group">
												<label class="sr-only" for="key_word">搜索关键字</label>
												<input type="text" class="form-control" id="key_word" name="key_word" placeholder="根据登陆名称,操作信息搜索">
											</div>
											&nbsp;&nbsp;&nbsp;
											<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
											<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>

										</form>
									</div> <!-- panel-body -->
								</div>

								<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
									<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:logininfor:remove">
										<i class="fa fa-remove"></i> 删除
									</a>
									<a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:logininfor:remove">
										<i class="fa fa-trash"></i> 清空
									</a>
								</div>

								<div class="col-sm-12 select-table table-striped panel panel-default">
									<div class="panel-body">
										<table id="bootstrap-table" class="bootstrap-table" data-mobile-responsive="true">
										</table>
									</div>
								</div>

							</div>

							<!-- ============================================================== -->


						</div>
						<!--end内容end-->

					</div>
				</div>
			</div>
			<!-- ============================================================== -->

		</div>
		<div th:include="include_moltran :: bottom"></div>
	</div>

</div>

<th:block th:include="include_moltran :: footer"/>
<!-- ============================================================== -->
<script th:inline="javascript">
    var datas = [[${@dict.getType('sys_common_status')}]];
    var prefix = ctx + "monitor/logininfor";

    $(function() {
        var options = {
            url: prefix + "/list",
            cleanUrl: prefix + "/clean",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "loginTime",
            sortOrder: "desc",
            modalName: "登录日志",
            escape: true,
            showPageGo: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'infoId',
                    title: '访问编号'
                },
                {
                    field: 'loginName',
                    title: '登录名称',
                    sortable: true
                },
                {
                    field: 'ipaddr',
                    title: '登录地址'
                },
                {
                    field: 'loginLocation',
                    title: '登录地点'
                },
                {
                    field: 'browser',
                    title: '浏览器'
                },
                {
                    field: 'os',
                    title: '操作系统'
                },
                {
                    field: 'status',
                    title: '登录状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'msg',
                    title: '操作信息'
                },
                {
                    field: 'loginTime',
                    title: '登录时间',
                    sortable: true
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>