<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="container">
    <!--=====================-->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>详细信息</h5>

        </div>
        <div class="ibox-content">
            <p><i class="fa fa-send-o"></i> &nbsp;
                登录账号：
                <span th:text="${user.name}">登录账号</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                密码：
                <span th:text="${user.password}">密码</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                盐加密：
                <span th:text="${user.salt}">盐加密</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                用户邮箱：
                <span th:text="${user.email}">用户邮箱</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                手机号码：
                <span th:text="${user.mobile}">手机号码</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                省：
                <span th:text="${user.province}">省</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                市：
                <span th:text="${user.city}">市</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                县：
                <span th:text="${user.area}">县</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                地址：
                <span th:text="${user.address}">地址</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                用户性别（0男 1女 2未知）：
                <span th:text="${user.sex}">用户性别（0男 1女 2未知）</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                真实姓名：
                <span th:text="${user.realname}">真实姓名</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                用户级别：
                <span th:text="${user.userrank}">用户级别</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                注册时间：
                <span th:text="${user.regtime}">注册时间</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                最后登录时间：
                <span th:text="${user.lastLogintime}">最后登录时间</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                最后登陆IP：
                <span th:text="${user.lastLoginIp}">最后登陆IP</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                头像路径：
                <span th:text="${user.avatar}">头像路径</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                帐号状态（0正常 1停用）：
                <span th:text="${user.status}">帐号状态（0正常 1停用）</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                备注：
                <span th:text="${user.remark}">备注</span>
            </p>
        </div>
    </div>
    <!--=====================-->

    <hr/>
    <br/>
    <div class="row">
        <label class="col-xs-2 control-label">登录账号：</label>
        <div class="col-xs-10" th:text="${user.name}">
            登录账号
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">密码：</label>
        <div class="col-xs-10" th:text="${user.password}">
            密码
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">盐加密：</label>
        <div class="col-xs-10" th:text="${user.salt}">
            盐加密
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">用户邮箱：</label>
        <div class="col-xs-10" th:text="${user.email}">
            用户邮箱
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">手机号码：</label>
        <div class="col-xs-10" th:text="${user.mobile}">
            手机号码
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">省：</label>
        <div class="col-xs-10" th:text="${user.province}">
            省
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">市：</label>
        <div class="col-xs-10" th:text="${user.city}">
            市
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">县：</label>
        <div class="col-xs-10" th:text="${user.area}">
            县
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">地址：</label>
        <div class="col-xs-10" th:text="${user.address}">
            地址
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">用户性别（0男 1女 2未知）：</label>
        <div class="col-xs-10" th:text="${user.sex}">
            用户性别（0男 1女 2未知）
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">真实姓名：</label>
        <div class="col-xs-10" th:text="${user.realname}">
            真实姓名
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">用户级别：</label>
        <div class="col-xs-10" th:text="${user.userrank}">
            用户级别
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">注册时间：</label>
        <div class="col-xs-10" th:text="${user.regtime}">
            注册时间
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">最后登录时间：</label>
        <div class="col-xs-10" th:text="${user.lastLogintime}">
            最后登录时间
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">最后登陆IP：</label>
        <div class="col-xs-10" th:text="${user.lastLoginIp}">
            最后登陆IP
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">头像路径：</label>
        <div class="col-xs-10" th:text="${user.avatar}">
            头像路径
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">帐号状态（0正常 1停用）：</label>
        <div class="col-xs-10" th:text="${user.status}">
            帐号状态（0正常 1停用）
        </div>
    </div>
    <div class="row">
        <label class="col-xs-2 control-label">备注：</label>
        <div class="col-xs-10" th:text="${user.remark}">
            备注
        </div>
    </div>
</div>
<div th:include="include::footer"></div>

</body>
</html>
