<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
    <link href="../../../static/appstatic/bootstrap.min.css" th:href="@{/appstatic/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../static/appstatic/core.css" th:href="@{/appstatic/core.css}" rel="stylesheet"/>
</head>

<body class="app-img-bg" style="height: 100%;background-image:linear-gradient(to top,rgb(25, 198, 210),rgb(189, 243, 236),rgb(25, 198, 210));));">
<div class="text-center">
    </br>
    <!--<p>晚上(20:00-22:00)</p>-->
</div>
<div id="container" style="height: 100%;margin-top:-100px"></div>

<div class="text-center" style="margin-top: -60px">
    <h4>心率：<span th:text="${heart}"></span>次/分钟</h4>
    </br>
上次检测时间:
    <br/>
    [[ ${#dates.format(lastCheckTime,'MM月dd日 HH:mm')}]]
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script th:src="@{/ajax/libs/layui/layui.js}"></script>


<script src="/appstatic/echarts.min.js"></script>

<script th:inline="javascript">
    var high=[[${high}]];
    var low=[[${low}]];
</script>
<script type="text/javascript">

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        series: [
            {
                name: '收缩压',
                type: 'gauge',
                z: 3,
                min: 0,
                max: 300,
                splitNumber: 10,
                radius: '80%',
                axisLine: {            // 坐标轴线
                    lineStyle: {       // 属性lineStyle控制线条样式
                        width: 10
                    }
                },
                axisLine: {
                    show: true,
                    lineStyle: {
                        width: 8,
                        shadowBlur: 0,
                        color: [
                            [0.3, '#4f89bb'],
                            [0.4, '#49b537'],
                            [0.466, '#ffd226'],
                            [0.6, '#f16e0f'],
                            [1, '#f70404']
                        ]
                    }
                },
                axisTick: {            // 坐标轴小标记
                    length: 15,        // 属性length控制线长
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: 'auto'
                    }
                },
                splitLine: {           // 分隔线
                    length: 20,         // 属性length控制线长
                    lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                        color: 'auto'
                    }
                },
                title: {
                    // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    // fontWeight: 'bolder',
                    fontSize: 15,
                    offsetCenter: [0, '-5%'],       // x, y，单位px
                    // fontStyle: 'italic'
                },
                itemStyle: {
                    normal: {
                        // color: "#929fa5",
                        shadowColor: 'rgba(0, 0, 0, 0.5)',
                        shadowBlur: 10
                    }
                },
                detail: {
                    // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder',
                    fontSize: 28,
                    offsetCenter: [0, '20%'],       // x, y，单位px
                },

                data: [{value: high, name: ''}]
            },
            {
                name: '舒张压',
                type: 'gauge',
                center: ['50%', '73%'],    // 默认全局居中
                radius: '40%',
                min: 0,
                max: 150,
                // endAngle:45,
                splitNumber: 10,
                axisLine: {            // 坐标轴线
                    lineStyle: {       // 属性lineStyle控制线条样式
                        width: 8
                    }
                },
                axisTick: {            // 坐标轴小标记
                    length: 10,        // 属性length控制线长
                    lineStyle: {       // 属性lineStyle控制线条样式
                        color: 'auto'
                    }
                },
                axisLine: {
                    show: true,
                    lineStyle: {
                        width: 5 ,
                        shadowBlur: 0,
                        color: [
                            [0.4, '#4f89bb'],
                            [0.5333, '#49b537'],
                            [0.6, '#ffd226'],
                            [1, '#fd666d']
                        ]
                    }
                },
                splitLine: {           // 分隔线
                    length: 10,         // 属性length控制线长
                    lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                        color: 'auto'
                    }
                },
                pointer: {
                    width: 5
                },
                itemStyle: {
                    normal: {
                        // color: "#929fa5",
                        shadowColor: 'rgba(0, 0, 0, 0.5)',
                        shadowBlur: 8
                    }
                },
                title: {
                    offsetCenter: [0, '75%'],       // x, y，单位px
                    fontSize: 15,
                },
                detail: {
                    // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder',
                    fontSize: 30,
                },
                data: [{value: low, name: 'mmHg'}]
            },
        ]
    };

    // setInterval(function () {
    //     option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
    //     option.series[1].data[0].value = (Math.random() * 70).toFixed(2) - 0;
    //     option.series[2].data[0].value = (Math.random() * 2).toFixed(2) - 0;
    //     option.series[3].data[0].value = (Math.random() * 2).toFixed(2) - 0;
    //     myChart.setOption(option, true);
    // }, 2000);;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    };

    //------------------------

</script>
</body>

</html>