<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-iotModelRule-edit" th:object="${iotModelRule}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">模型：</label>
				<div class="col-sm-8">
					<!--================================-->
					<div class="input-group" style="width: 100%">
						<select name="modelId" class="form-control m-b" th:with="xx_model=${@iotss.getModels()}">
							<option th:each="uu : ${xx_model}" th:text="${uu.model_name}" th:value="${uu.id}" th:field="*{modelId}"></option>
						</select>
					</div>
					<!--================================-->
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">执行顺序：</label>
				<div class="col-sm-8">
					<input id="ruleExecuteOrder" name="ruleExecuteOrder" th:field="*{ruleExecuteOrder}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">规则名称：</label>
				<div class="col-sm-8">
					<input id="ruleName" name="ruleName" th:field="*{ruleName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">规则条件：</label>
				<div class="col-sm-8">
					<input id="ruleCondition" name="ruleCondition" th:field="*{ruleCondition}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">执行动作：</label>
				<div class="col-sm-8">
					<input id="ruleDo" name="ruleDo" th:field="*{ruleDo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">规则说明：</label>
				<div class="col-sm-8">
					<input id="ruleDescription" name="ruleDescription" th:field="*{ruleDescription}" class="form-control" type="text">
				</div>
			</div>

		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "iot/iotModelRule";
		$("#form-iotModelRule-edit").validate({
			rules:{
                modelId:{
                    required:true
                },
                ruleExecuteOrder:{
                    required:true,
                    digits:true,
                },
                ruleName:{
                    required:true,
                    minlength: 2,
                    maxlength: 20
                },
                ruleDo:{
                    required:true
                },
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-iotModelRule-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
