<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="container">
    <!--=====================-->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>详细信息</h5>

        </div>
        <div class="ibox-content">
            <p><i class="fa fa-send-o"></i> &nbsp;
                协议名称：
                <span th:text="${iotProtocol.protocol}">协议名称</span>
            </p>
        </div>
    </div>
    <!--=====================-->

    <hr/>
    <br/>
    <div class="row">
        <label class="col-xs-2 control-label">协议名称：</label>
        <div class="col-xs-10" th:text="${iotProtocol.protocol}">
            协议名称
        </div>
    </div>
</div>
<div th:include="include::footer"></div>

</body>
</html>
