<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-iotModels-edit" th:object="${iotModels}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">模型名称：</label>
				<div class="col-sm-8">
					<input id="modelName" name="modelName" th:field="*{modelName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">模型说明：</label>
				<div class="col-sm-8">
					<input id="modelDescription" name="modelDescription" th:field="*{modelDescription}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">协议类型：</label>
				<div class="col-sm-8">

					<!--================================-->
					<div class="input-group" style="width: 100%">
						<select name="protocolId" class="form-control m-b" th:with="xxtype=${@iotss.getProtocols()}">
							<option th:each="uu : ${xxtype}" th:text="${uu.protocol}" th:value="${uu.id}" th:field="*{protocolId}"></option>
						</select>
					</div>
					<!--================================-->

				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户id：</label>
				<div class="col-sm-8">
					<!--================================-->
					<div class="input-group" style="width: 100%">
						<select name="userId" class="form-control m-b" th:with="xuser=${@xxuser.getUsers()}">
							<option th:each="uu : ${xuser}" th:text="${uu.loginName}" th:value="${uu.userId}" th:field="*{userId}"></option>
						</select>
					</div>
					<!--================================-->
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">网关地址：</label>
				<div class="col-sm-8">
					<input id="gateWay" name="gateWay" th:field="*{gateWay}" class="form-control" type="text">
				</div>
			</div>

		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "iot/iotModels";
		$("#form-iotModels-edit").validate({
			rules:{
                modelName:{
                    required:true,
                    minlength: 2,
                    maxlength: 20
                },
                gateWay:{
                    required:true,
                    minlength: 2,
                    maxlength: 50
                },
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-iotModels-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
