<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="include :: header('模型参数详情')" />
<body class="white-bg">
<div class="container">
    <!--=====================-->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>详细信息</h5>

        </div>
        <div class="ibox-content">
            <!--=====================-->
            <div class="row">
                <label class="col-xs-2 control-label"><i class="fa fa-send-o"></i> &nbsp; 模型id：</label>
                <div class="col-xs-10" th:text="${iotModelParameters.modelId}">
                    模型id
                </div>
            </div>
            <div class="row">
                <label class="col-xs-2 control-label"><i class="fa fa-send-o"></i> &nbsp; 参数名：</label>
                <div class="col-xs-10" th:text="${iotModelParameters.parameterName}">
                    参数名
                </div>
            </div>
            <div class="row">
                <label class="col-xs-2 control-label"><i class="fa fa-send-o"></i> &nbsp; 显示名称：</label>
                <div class="col-xs-10" th:text="${iotModelParameters.parameterShowname}">
                    显示名称
                </div>
            </div>
            <div class="row">
                <label class="col-xs-2 control-label"><i class="fa fa-send-o"></i> &nbsp; 类型：</label>
                <div class="col-xs-10" th:text="${iotModelParameters.parameterType}">
                    类型
                </div>
            </div>
            <div class="row">
                <label class="col-xs-2 control-label"><i class="fa fa-send-o"></i> &nbsp; 默认值：</label>
                <div class="col-xs-10" th:text="${iotModelParameters.parameterDefault}">
                    默认值
                </div>
            </div>
            <div class="row">
                <label class="col-xs-2 control-label"><i class="fa fa-send-o"></i> &nbsp; 单位：</label>
                <div class="col-xs-10" th:text="${iotModelParameters.parameterUnit}">
                    单位
                </div>
            </div>
            <div class="row">
                <label class="col-xs-2 control-label"><i class="fa fa-send-o"></i> &nbsp; 说明：</label>
                <div class="col-xs-10" th:text="${iotModelParameters.parameterDescription}">
                    说明
                </div>
            </div>
            <div class="row">
                <label class="col-xs-2 control-label"><i class="fa fa-send-o"></i> &nbsp; 添加,修改时间：</label>
                <div class="col-xs-10" th:text="${iotModelParameters.modifyTime}">
                    添加,修改时间
                </div>
            </div>
            <!--=====================-->
        </div>
    </div>

    <hr/>
    <br/>

</div>
<div th:include="include::footer"></div>

</body>
</html>
