<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增项目')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-iotProjects-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">项目名称：</label>
				<div class="col-sm-8">
					<input id="projectName" name="projectName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">访问地址：</label>
				<div class="col-sm-8">
					<input id="projectUrl" name="projectUrl" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">绑定域名：</label>
				<div class="col-sm-8">
					<input id="projectDomain" name="projectDomain" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">项目TOKEN：</label>
				<div class="col-sm-8">
					<input id="token" name="token" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">项目LOGO：</label>
				<div class="col-sm-8">
					<input id="projectLogo" name="projectLogo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">项目说明：</label>
				<div class="col-sm-8">
					<input id="projectDescription" name="projectDescription" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">负责人：</label>
				<div class="col-sm-8">
					<input id="projectCharge" name="projectCharge" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">负责人电话：</label>
				<div class="col-sm-8">
					<input id="chargetel" name="chargetel" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"> 负责人邮箱：</label>
				<div class="col-sm-8">
					<input id="chargeemail" name="chargeemail" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">项目状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="projectStatus" th:value="${dict.dictValue}" th:checked="${dict.isDefault == 'Y' ? true : false}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">所属用户：</label>
				<div class="col-sm-8">
					<!--================================-->
					<div class="input-group" style="width: 100%">
						<select name="userid" class="form-control m-b" th:with="xuser=${@xxuser.getUsers()}">
							<option th:each="uu : ${xuser}" th:text="${uu.login_name}" th:value="${uu.user_id}"></option>
						</select>
					</div>
					<!--================================-->
				</div>
			</div>
		</form>
	</div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
		var prefix = ctx + "iot/iotProjects";
		$("#form-iotProjects-add").validate({
			rules:{
                projectName:{
					required:true,
				},
                projectUrl:{
					required:true,
				},
                token:{
					required:true,
				},
                projectCharge:{
					required:true,
				},
                chargetel:{
					required:true,
				},
			}
		});

		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-iotProjects-add').serialize());
	        }
	    }
	</script>
</body>
</html>
