<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="container">
    <!--=====================-->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>详细信息</h5>

        </div>
        <div class="ibox-content">
            <p><i class="fa fa-send-o"></i> &nbsp;
                登陆用户id：
                <span th:text="${logLogin.userid}">登陆用户id</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                登录账号：
                <span th:text="${logLogin.loginName}">登录账号</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                登录IP地址：
                <span th:text="${logLogin.loginIp}">登录IP地址</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                登录状态（1成功 0失败）：
                <span th:text="${logLogin.loginResult}">登录状态</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                提示消息：
                <span th:text="${logLogin.message}">提示消息</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                访问时间：
                <span th:text="${logLogin.loginTime}">访问时间</span>
            </p>
        </div>
    </div>
    <!--=====================-->

</div>
<div th:include="include::footer"></div>

</body>
</html>
