<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-logLogin-edit" th:object="${logLogin}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">登陆用户id：</label>
				<div class="col-sm-8">
					<input id="userid" name="userid" th:field="*{userid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">登录账号：</label>
				<div class="col-sm-8">
					<input id="loginName" name="loginName" th:field="*{loginName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">登录IP地址：</label>
				<div class="col-sm-8">
					<input id="loginIp" name="loginIp" th:field="*{loginIp}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">登录状态（0成功 1失败）：</label>
				<div class="col-sm-8">
					<input id="loginResult" name="loginResult" th:field="*{loginResult}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">提示消息：</label>
				<div class="col-sm-8">
					<input id="message" name="message" th:field="*{message}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">访问时间：</label>
				<div class="col-sm-8">
					<input id="loginTime" name="loginTime" th:field="*{loginTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "iot/logLogin";
		$("#form-logLogin-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-logLogin-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
