<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="container">
    <!--=====================-->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>详细信息</h5>

        </div>
        <div class="ibox-content">
            <p><i class="fa fa-send-o"></i> &nbsp;
                模块标题：
                <span th:text="${logOper.title}">模块标题</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                业务类型（0其它 1新增 2修改 3删除）：
                <span th:text="${logOper.businessType}">业务类型（0其它 1新增 2修改 3删除）</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                方法名称：
                <span th:text="${logOper.method}">方法名称</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                操作用户id：
                <span th:text="${logOper.userId}">操作用户id</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                请求URL：
                <span th:text="${logOper.operUrl}">请求URL</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                主机地址：
                <span th:text="${logOper.operIp}">主机地址</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                操作地点：
                <span th:text="${logOper.operLocation}">操作地点</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                请求参数：
                <span th:text="${logOper.operParam}">请求参数</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                操作状态（0正常 1异常）：
                <span th:text="${logOper.status}">操作状态（0正常 1异常）</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                错误消息：
                <span th:text="${logOper.errorMsg}">错误消息</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                操作时间：
                <span th:text="${logOper.operTime}">操作时间</span>
            </p>
        </div>
    </div>
    <!--=====================-->

</div>
<div th:include="include::footer"></div>

</body>
</html>
