<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('用户详情')" />
</head>
<body class="white-bg">
<div class="container">
    <!--=====================-->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>详细信息</h5>

        </div>
        <div class="ibox-content">
            <p><i class="fa fa-send-o"></i> &nbsp;
                登录账号：
                <span th:text="${user.loginName}">登录账号</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                密码：
                <span th:text="${user.password}">密码</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                盐加密：
                <span th:text="${user.salt}">盐加密</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                用户邮箱：
                <span th:text="${user.email}">用户邮箱</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                手机号码：
                <span th:text="${user.phonenumber}">手机号码</span>
            </p>

            <p><i class="fa fa-send-o"></i> &nbsp;
                用户性别（0男 1女 2未知）：
                <span th:text="${user.sex}">用户性别（0男 1女 2未知）</span>
            </p>

            <p><i class="fa fa-send-o"></i> &nbsp;
                头像路径：
                <span th:text="${user.avatar}">头像路径</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                帐号状态（0正常 1停用）：
                <span th:text="${user.status}">帐号状态（0正常 1停用）</span>
            </p>
            <p><i class="fa fa-send-o"></i> &nbsp;
                备注：
                <span th:text="${user.remark}">备注</span>
            </p>
        </div>
    </div>

</div>
<th:block th:include="include::footer"/>

</body>
</html>
